.container1 {
    padding: 0;
    margin-top: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #f40097;
}

.facilitiescontent {
    color: #f40097;
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    width: 80%;
    border: 2px solid #f40097;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.facilitiesinfo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

